includes:
- extension.neon
- vendor/nunomaduro/larastan/extension.neon
- vendor/phpstan/phpstan/conf/bleedingEdge.neon
- vendor/phpstan/phpstan-mockery/extension.neon
- vendor/phpstan/phpstan-phpunit/extension.neon
- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
  # TODO level up to max
  level: 6
  paths:
  - src
  - tests
  checkOctaneCompatibility: true
  # As long as we support multiple Laravel versions at once, there will be some dead spots
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
  # This is a library, so it should be extendable
  - '#Unsafe usage of new static.*#'
