includes:
- extension.neon
- vendor/nunomaduro/larastan/extension.neon
- vendor/phpstan/phpstan/conf/bleedingEdge.neon
- vendor/phpstan/phpstan-mockery/extension.neon
- vendor/phpstan/phpstan-phpunit/extension.neon
- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
  level: 6 # TODO level up to max
  paths:
  - src
  - tests
  checkOctaneCompatibility: true
  reportUnmatchedIgnoredErrors: false # As long as we support multiple Laravel versions at once, there will be some dead spots
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
  - '#Unsafe usage of new static.*#' # This is a library, so it should be extendable
  # The Process API is only available in newer Laravel versions
  - '#unknown class Illuminate\\Support\\Facades\\Process#'
  - '#unknown class Illuminate\\Process#'
  - '#invalid type Illuminate\\Process#'
  excludePaths:
  - tests/Enums/ToNativeFixtures # Fails with PHP < 8.1
  - tests/PHPStan/Fixtures
  # Install https://plugins.jetbrains.com/plugin/7677-awesome-console to make those links clickable
  editorUrl: '%%relFile%%:%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
