<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <testsuites>
    <!-- We have to separate those testsuites due to a conflict when requiring PhpParser, see https://github.com/rectorphp/rector/issues/6709 -->
    <testsuite name="Tests">
      <directory>tests</directory>
      <exclude>tests/Rector</exclude>
    </testsuite>
    <testsuite name="Rector">
      <directory>tests/Rector</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
  </php>
</phpunit>
